<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<div class = "registerContainer">
    <!--<form action = "/api/user" method="post">-->
    <form action = "/register" method="post">
        <div>
            <label>ID</label>
            <input type ="text" name = "loginId"/>
        </div>
        <div>
            <label>PW</label>
            <input type = "password" name = "password"/>
        </div>
        <div>
            <label>이름</label>
            <input type = "text" name = "memberName"/>
        </div>
        <div>
            <label>연락처</label>
            <input type = "text" name = "memberPhone" placeholder="010-1234-1234"/>
        </div>
        <div>
            <label>이메일</label>
            <input type = "text" name = "memberEmail"/>
        </div>
        <div>
            <label>회사명</label>
            <input type = "text" name = "memberCompany"/>
        </div>

        <div>
            <label>부서명</label>
            <select name = "deptNo">
                <option value="123">asdasd</option>
            </select>
        </div>
        <input type="submit" value = "회원가입">
    </form>
</div>
</body>
</html>