<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schdule</title>
    <!-- fullcalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
</head>
    <body>
        <div class ="indexContainer">
            <div th:insert="menu.html :: menuFragment"></div>

            <div class="modalContainer">
                <div id="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">일정관리</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div>
                                        <label for="loginId">등록자</label>
                                        <input type="text" name="loginId" id="loginId">
                                    </div>
                                    <div>
                                        <label for="deptNo">회사명</label>
                                        <input type="text" name="deptNo" id="deptNo">
                                    </div>
                                    <div>
                                        <label for="todoContent">할일내용</label>
                                        <input type="text" name="todoContent" id="todoContent">
                                    </div>
                                    <div>
                                        <label for="feedId">피드백</label>
                                        <input type="text" name="feedId" id="feedId">
                                    </div>
                                    <div>
                                        <label for="feedContent">피드백</label>
                                        <input type="text" name="feedContent" id="feedContent">
                                    </div>
                                    <div>
                                        <label for="todoCompleteYn">완료여부</label>
                                        <input type="text" name="todoCompleteYn" id="todoCompleteYn">
                                    </div>

    <!--                                title:'디비가져온거',
                                    start: '2023-10-19',
                                    end: '2023-10-20',
                                    feedContent: 'feedContent',
                                    todoCompleteYn: 'Y',-->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="w-btn w-btn-red" id="modalCloseBtn">닫기</button>
                                <button type="button" class="w-btn w-btn-blue" id="modalOkayBtn">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class ="calendarContainer">
                <div id="calendar"></div>
                <div class ="buttonContainer">
                    <button class ="btn btn-primary btn-circl" id ="modalOpenBtn">+</button>
                </div>
            </div>
        </div>
    </body>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        // 데이터 조회 ajax
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left : 'prev today next',
                center : 'title',
                right : 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            locale: 'ko',
            editable: true,
            droppable: true,
            selectable: true,
            selectMirror: true,
            events: [
                {
                    title:'디비가져온거',
                    start: '2023-10-19',
                    end: '2023-10-20',
                    feedContent: 'feedContent',
                    todoCompleteYn: 'Y',
                }
            ],
            eventClick: function (arg) {
                modalOpen();
                console.log(arg);
            },
            dateClick: function(info) {
                console.log(info);
                modalOpen()
            }
        });
        calendar.render();
    });

    const modal = document.getElementById("modal");
    document.getElementById("modalOpenBtn").addEventListener('click', () => modalOpen());
    document.getElementById("modalCloseBtn").addEventListener('click', () => modalClose());

    // 모달창 닫기
    const modalClose = () => {
        modal.style.display = "none";
        document.body.style.overflow = "auto"; // 스크롤바 보이기
    }

    const modalOpen = () => {
        modal.style.display = "block";
        document.body.style.overflow = "hidden"; // 스크롤바 제거
    }

    /*const modalOpen = () => {
        $("#calendarModal").modal("show");
        $("#addCalendar").on("click", function () {
            let todoContent = $("#todoContent").val();
            let todoInsDate = $("#todoInsDate").val();
            let todoEndDate = $("#todoEndDate").val();

/!*            console.log(new Date(startDate));
            console.log(new Date(endDate));
            //내용 입력 여부 확인
            if (content == null || content == "") {
                alert("내용을 입력하세요.");
            } else if (startDate == "" || endDate == "") {
                alert("날짜를 입력하세요.");
            } else if (new Date(startDate) - new Date(endDate) < 0) { // date 타입으로 변경 후 확인
                alert("종료일이 시작일보다 먼저입니다.");
            } else { // 정상적인 입력 시*!/
                let obj = {
                    "title": content,
                    "start": startDate,
                    "end": endDate
                }//전송할 객체 생성
                console.log(obj);
            }*!/
        })
     }*/
</script>
</html>

<!--
    https://fullcalendar.io/docs/dynamic-options
    https://dodokong.tistory.com/41
    https://dodokong.tistory.com/45
    https://blog.naver.com/PostView.naver?blogId=iiwvii&logNo=222368096146&parentCategoryNo=&categoryNo=1&viewDate=&isShowPopularPosts=true&from=search

    팝업(모달)만들기
    https://shin1303.tistory.com/entry/Vanilla-JS-Modal-%EC%B0%BD-%EB%A7%8C%EB%93%A4%EA%B8%B0
    1. 모달에 피드백추가
    2. 관리자(회사등록)
    3. db연동후 저장
 -->
