<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schdule</title>
    <!-- fullcalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
</head>
    <body>
        <div class ="menuContainer">
            <a class ="logo" th:href="@{/}">,쉼표</a>
            <div class ="menuContent">
                <a th:href="@{/}">달력보기</a>
                <a th:href="@{/dept}">부서보기</a>
                <a th:href="@{/logout}">로그아웃</a>
                <div class ="clientWrap">
                    <p th:text="${#authentication.name}"/>
                    <p>님 환영합니다</p>
                </div>
            </div>
        </div>
        <div id="calendar"></div>
<!--
        &lt;!&ndash; modal 추가 &ndash;&gt;
        <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">일정을 입력하세요.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="todoContent" class="col-form-label">일정 내용</label>
                            <input type="text" class="form-control" id="todoContent" name="todoContent">
                            <label for="todoInsDate" class="col-form-label">시작 날짜</label>
                            <input type="date" class="form-control" id="todoInsDate" name="todoInsDate">
                            <label for="todoEndDate" class="col-form-label">종료 날짜</label>
                            <input type="date" class="form-control" id="todoEndDate" name="todoEndDate">
                            <label for="feedContent" class="col-form-label">피드백</label>
                            <textarea class="form-control" id="feedContent" name="feedContent"/>

                        &lt;!&ndash;    <label for="feedContent" class="col-form-label">피드백</label>
                            <input type="date" class="form-control" id="feedId" name="feedId" hidden>
                            <textarea id="feedContent" name="feedContent"/>
                            <label for="todoCompleteYn">진행상태</label>
                            <select id="todoCompleteYn">
                                <option value ="go" selected>진행</option>
                                <option value ="end">완료</option>
                            </select>&ndash;&gt;
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="addCalendar">추가</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="sprintSettingModalClose">취소</button>
                    </div>

                </div>
            </div>
        </div>-->

        <div class ="buttonContainer"><button id ="createButton">+</button></div>
    </body>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        // 데이터 조회 ajax
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left : 'prev today next',
                center : 'title',
                right : 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            locale: 'ko',
            editable: true,
            droppable: true,
            selectable: true,
            selectMirror: true,
            events: [
                {
                    title:'디비가져온거',
                    start: '2023-10-19',
                    end: '2023-10-20',
                    feedContent: 'feedContent',
                    todoCompleteYn: 'Y',
                }
            ],
            eventClick: function (arg) {
                console.log(arg);
                modalOpen();
            }
        });

        // 날짜클릭시
        calendar.on('dateClick', () => {
            // modalOpen();
        });

        calendar.render();
    });

    document.getElementById('createButton').addEventListener('click', () => {
        modalOpen();
    });

    const modalOpen = () => {
        $("#calendarModal").modal("show");
        $("#addCalendar").on("click", function () {
            let todoContent = $("#todoContent").val();
            let todoInsDate = $("#todoInsDate").val();
            let todoEndDate = $("#todoEndDate").val();

/*            console.log(new Date(startDate));
            console.log(new Date(endDate));
            //내용 입력 여부 확인
            if (content == null || content == "") {
                alert("내용을 입력하세요.");
            } else if (startDate == "" || endDate == "") {
                alert("날짜를 입력하세요.");
            } else if (new Date(startDate) - new Date(endDate) < 0) { // date 타입으로 변경 후 확인
                alert("종료일이 시작일보다 먼저입니다.");
            } else { // 정상적인 입력 시*!/
                let obj = {
                    "title": content,
                    "start": startDate,
                    "end": endDate
                }//전송할 객체 생성
                console.log(obj);
            }*/
        })
     }
</script>
</html>

<!--
    https://fullcalendar.io/docs/dynamic-options
    https://dodokong.tistory.com/41
    https://dodokong.tistory.com/45
    https://blog.naver.com/PostView.naver?blogId=iiwvii&logNo=222368096146&parentCategoryNo=&categoryNo=1&viewDate=&isShowPopularPosts=true&from=search

    팝업(모달)만들기
    https://shin1303.tistory.com/entry/Vanilla-JS-Modal-%EC%B0%BD-%EB%A7%8C%EB%93%A4%EA%B8%B0
    1. 모달에 피드백추가
    2. 관리자(회사등록)
    3. db연동후 저장
 -->
